<nav class="nav{% unless page.layout == 'home' %} nav-docs{% endunless %}">
    <div class="nav-container">
        <div class="nav-brand">
            <a href="/">
                <img src="/images/logo-small.png"
                     srcset="/images/logo-small@2x.png 2x"
                     alt="LibreScoot"
                     class="logo-small">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/docs/">Docs</a></li>
            <li><a href="/docs/install.html">Installation</a></li>
            <li><a href="/docs/architecture.html">Architecture</a></li>
            <li><a href="/changelog.html">Changelog</a></li>
            <li><a href="https://discord.gg/VrumFruSzJ" target="_blank">Discord</a></li>
            <li><a href="https://github.com/librescoot" target="_blank">GitHub</a></li>
        </ul>
    </div>
</nav>
